body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

}

ol, ul {
  padding: 0;
  margin-left: 0px;
}


h1 {
  font-weight: 40;
  color: #000836;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 100%;
  font-weight: bold;
  line-height: 1em;
  height: 2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 2em;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.App {
  padding: 1rem;
  max-width: 100%;
  min-height: 350px;

  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: #7aa5be;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 8px;
}


.game-board {
}

.game {

  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 85%;
  min-height: 100%;
  margin: 0 auto;

  background: #c0c8f8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 8px;
  justify-content: center;
}


.game-info {

  padding-left: 10px;
  margin-left: 10px;
  font-size: 80%;

}


.start-button{
  background: #7aa5be;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}


.next-button{
  color: #000836;
  background: #7aa5be;
  border-radius: 8px;
  border: none;
}


.win{
  color: #000836;
  border-radius: 8px;
  border: none;
  background: #82d9f4;
}

